@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500;700;900&display=swap");

$color-primary: hsl(225, 100%, 94%);
$color-secundary: hsl(245, 75%, 52%);
$color-neutral-primary: hsl(225, 100%, 98%);
$color-neutral-secundary: hsl(224, 23%, 55%);
$color-neutral-terciary: hsl(223, 47%, 23%);
$color-white: #fff;
$color-black: #000;
$font-primary: "Red Hat Display", sans-serif;
